@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(../fonts/montserrat.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 20px;
	background-color: #fff;
}

.navbar-brand {
	padding: 10px;
}

.navbar-brand img {
	height: 100%;
}

#upper-section nav {
	margin-top: 10px;
	background-color: transparent;
	border-bottom: 2px solid #fff;
}

#upper-section nav a {
	color: #fff;
	background-color: transparent;
}

#upper-section nav a:hover {
	text-decoration: underline;
}

#upper-section button {
	border-color: #fff;
}

#upper-section button:hover, #upper-section button:focus {
	background-color: rgba(255, 255, 255, 0.3);
} 

#upper-section button span {
	background-color: #fff;
}

.mini-container {
	width: 55%;
}

.iconic-information-block {
	background-color: #cecece;
	text-align: center;
	padding: 30px 15px;
}

.iconic-information-block span {
	font-size: 24px;
}

footer {
	border-top: 2px solid #999;
	width: 90%;
	height: 50px;
	margin: 0 auto;
	margin-top: 15px;
	padding: 15px;
	text-align: center;
	color: #999;
}

footer p {
	margin-bottom: 0px;
}

footer a {
	text-decoration: none;
	color: #999;
	font-size: 12px;
}

footer a:hover, a:focus {
	color: #999;
}

footer img {
	height: 60px;
	margin-top: 20px;
	margin-bottom: 20px;
}