#upper-section {
	height: 600px;
	background-image: url(../img/background.jpg);
	background-size: cover;
}

.logo-container {
	width: 100%;
	text-align: center;
	text-transform: uppercase;
}

.logo-container h1 {
	font-size: 48px;
	color: #fff;
}

.logo-container h2 {
	font-size: 16px;
	color: #fff;
	margin-top: 0px;
}

.logo-container img {
	height: 75px;
}

#main-section {
	margin-top: 40px;
	height: 350px;
}

#welcome {
	background-color: #eee;
	border-radius: 5px;
	padding: 35px;
	margin-bottom: 40px;
}

#welcome h1 {
	font-size: 36px;
	margin-top: 0px;
	margin-bottom: 15px;
}

.iconic-information-block {
	margin: 0px 5px 25px 5px;
	color: #eee;
}

#projects-block {
	background-color: #fba768;
}

#professors-block {
	background-color: #7367ae;
}

#admin-block {
	background-color: #4cb547;
}

#map {
	height: 400px;
}

#news, #dates {
	padding-left: 40px;
}

#news li, #dates li {
	border-bottom: 1px solid #eee;
	padding: 10px 0px;
}

#news li:last-child, #dates li:last-child {
	border-bottom: none;
}

#dates {
	margin-top: 40px;
}