#upper-section {
	height: 300px;
	background-image: url(../img/background-administracion.jpg);
	background-size: cover;
}

#title {
	text-transform: uppercase;
	text-align: center;
	margin-top: 40px;
}

#title h1 {
	font-size: 40px;
	color: #fff;
}

#main-section {
	margin-bottom: 40px;
}

.iconic-information-block {
	margin: 0 auto;
	float: none;
	background-color: #4cb547;
	color: #fff;
	text-transform: uppercase;
}

#actions-container {
	margin-top: 40px;
}

#actions-header-container {
	text-align: center;
}

#actions {
	margin-top: 25px;
}

#actions .iconic-information-block {
	border-radius: 50%;
}

.action-container {
	margin: 0 auto;	
	margin-bottom: 20px;
}

.action {
	display: flex;
	justify-content: center;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	cursor: pointer;
}

.action.create {
	background-color: #79dede;
}

.action.update {
	background-color: #dec461;
}

.action.delete {
	background-color: #de7872;
}

.action.search {
	background-color: #daaae4;
}

.action-inner-container {
	align-self: center;
}

#main-section .modal {
	overflow-y: scroll;
}

@media (min-width: 768px) {
	#modal-create .modal-dialog, #modal-update .modal-dialog {
		width: 800px;
	}
}

.modal-header {
	background-color: #4cb547;
	color: #fff;
}

.modal-error {
	position: absolute;
	top: 0;
	left: 0;
	padding: 15px;
	background-color: #de423b;
	color: #fff;
	width: 100%;
}

.modal-error span {
	text-align: center;
}

.close {
	color: #fff;
	opacity: 0.8;
}

.close:hover {
	color: #fff;
	opacity: 0.5;
}

.modal-body {
	padding: 25px 60px;
}

.button-container {
	text-align: center;
}

.button-container button {
	margin: 5px;
	min-width: 110px;
}

.button-search {
	background-color: #daaae4;
	border-color: #c293c9;
	color: #fff;
}

.button-search:hover {
	background-color: #c293c9;
	color: #fff;
}

form.ng-submitted .ng-valid, .ng-valid.ng-touched {
	border-color: #3c763d;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

form.ng-submitted .ng-valid:focus, .ng-valid.ng-touched:focus {
	border-color: #2b542c;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168;
}

form.ng-submitted .ng-invalid, .ng-invalid.ng-touched {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

form.ng-submitted .ng-invalid:focus, .ng-invalid.ng-touched:focus {
	border-color: #843534;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
}

.help-block {
	color: #a94442;
}

.info {
	text-align: center;
	margin: 0 auto;
}

.info .alert {
	width: 100%;
}

.result {
	margin: 0 auto;
	text-align: center;
}