#upper-section {
	height: 300px;
	background-image: url(../img/background-profesores.jpg);
	background-size: cover;
}

#title {
	text-transform: uppercase;
	text-align: center;
	margin-top: 40px;
}

#title h1 {
	font-size: 40px;
	color: #fff;
}

.iconic-information-block {
	margin: 0 auto;
	float: none;
	background-color: #563dae;
	color: #fff;
	text-transform: uppercase;
}

#professors-section {
	margin: 30px auto;
}
 
h2 {
	font-size: 30px;
}

#aside {
	text-align: center;
	margin-top: 30px;
}

#aside img {
	width: 150px;
}

#professors-table a {
	color: #8470BD;
}

#professors-table thead tr th {
	border-bottom: 2px solid #C5BAF5;
}

#professors-table tbody tr td {
	border-top: 1px solid #C5BAF5;
}

#professors-table tbody tr:hover td {
	background-color: #dfd9f5;
}

#profiles {
	text-align: center;
}

#profiles h2 {
	margin-bottom: 30px;
}

#profiles .panel-default {
	border: 1px solid transparent;
}

#profiles .panel-footer {
	border: 1px solid #8f73cc;
	background-color: #8f73cc;
	color: #fff;
	border-radius: 3px;
	height: 62px;
	padding-top: 10px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#profiles img {
	width: 100px;
	height: 100px;
}

#ranking {
	margin: 30px auto;
	padding-left: 40px;
}

#ranking hr {
	border-color: #ddd;
}

#ranking li {
	padding: 5px 0px;
}

#chart {
	padding-left: 0px;
}