#upper-section {
	height: 300px;
	background-image: url(../img/background-tfg.jpg);
	background-size: cover;
}

#title {
	text-transform: uppercase;
	text-align: center;
	margin-top: 40px;
}

#title h1 {
	font-size: 40px;
	color: #fff;
}

.iconic-information-block {
	margin: 0 auto;
	float: none;
	background-color: #fb914e;
	color: #fff;
	text-transform: uppercase;
}

#projects-section {
	margin: 30px auto;
}

#projects-section .panel-default {
	border-color: #fbcb9e;
}

#projects-section .panel-heading {
	font-weight: bold;
	background-color: #fba768;
	border-color: #fbcb9e;
	font-size: 20px;
}

#projects-section hr {
	border-color: #fbcb9e;
}

#project-image-container {
	text-align: center;
}

#projects-section img {
	height: 70%;
	width: 70%;
	margin-top: 25%;
	margin-bottom: 25%;
}

#projects-section .panel-footer {
	border-color: #fbcb9e;
	text-align: center;
	background-color: #fbcb9e;
	font-weight: bold;
}

#stats {
	margin: 30px auto;
	padding-left: 40px;
}

#stats hr {
	border-color: #ddd;
}

#stats li {
	padding: 5px 0px;
}

#stats li:first-child {
	font-size: 16px;
}

#home-icon {
	color: #46bfbd;
}

#health-icon {
	color: #f7464a;
}

#tourism-icon {
	color: #fed750;
}