<!DOCTYPE html>
<html lang="es" ng-app="GestionProyectos">
<head>
	<meta name="description" content="Interfaz de administración de los proyectos">
	<meta charset="UTF-8">
	<title>Proyectos - Contacto</title>
	<link rel="icon" href="img/logo.ico">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/app.css">
	<link rel="stylesheet" href="css/administracion.css">
	<script src="js/jquery-2.1.4.js"></script>
	<script src="js/date.format.js"></script>
	<script src="js/date.js"></script>
	<script src="js/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/bootstrap.js"></script>
</head>
<body ng-controller="AdminCtrl">
	<section id="upper-section">
		<div class="container mini-container">
			<nav class="navbar navbar-default navbar-static-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
							<span class="sr-only">Cambiar navegación</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="http://departamentos.uca.es/C137/" target="_blank" class="navbar-brand">
							<img src="img/logo_white.png" alt="Logo">
						</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse navbar-right">
						<ul class="nav navbar-nav">
							<li class="active">
								<a href="index.html">Inicio</a>
							</li>
							<li>
								<a href="tfg.html">Proyectos</a>
							</li>
							<li>
								<a href="profesores.html">Profesores</a>
							</li>
							<li>
								<a href="contactar.html">Contacto</a>
							</li>
							<li>
								<a href="index.html#map">Mapa</a>
							</li>
							<li>
								<a href="administracion.html">Administración</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>

		<div id="title" class="col-md-12">
			<h1>Administración</h1>
		</div>
	</section>

	<section id="main-section">
		<div class="container small-container">
			<div class="row">
				<div class="col-md-3 iconic-information-block">
					<span class="glyphicon glyphicon-dashboard"></span>
					<p>Administra los proyectos</p>
				</div>
			</div>
			<div class="row">
				<section id="actions-container">
					<div id="actions-header-container">
						<h2>Elige qué acción quieres realizar</h2>
						<p>Con el panel de administración puedes crear un nuevo proyecto, modificar uno existente, o eliminarlo.</p>
					</div>
					<div id="actions" class="container small-container">
						<div class="action-container col-md-3 col-sm-6">
							<div class="iconic-information-block action create" data-toggle="modal" data-target="#modal-create" ng-click="resetFormState()">
								<div class="action-inner-container">
									<span class="glyphicon glyphicon-ok"></span>
									<p>Crear</p>
								</div>
							</div>
						</div>
						<div class="action-container col-md-3 col-sm-6">
							<div class="iconic-information-block action update" data-toggle="modal" data-target="#modal-update" ng-click="resetFormState()">
								<div class="action-inner-container">
									<span class="glyphicon glyphicon-refresh"></span>
									<p>Actualizar</p>
								</div>
							</div>
						</div>
						<div class="action-container col-md-3 col-sm-6">
							<div class="iconic-information-block action delete" data-toggle="modal" data-target="#modal-delete" ng-click="resetFormState()">
								<div class="action-inner-container">
									<span class="glyphicon glyphicon-remove"></span>
									<p>Eliminar</p>
								</div>
							</div>
						</div>
						<div class="action-container col-md-3 col-sm-6">
							<div class="iconic-information-block action search" data-toggle="modal" data-target="#modal-search" ng-click="resetFormState()">
								<div class="action-inner-container">
									<span class="glyphicon glyphicon-remove"></span>
									<p>Buscar</p>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section id="modal-create-container">
					<div class="modal fade" id="modal-create" role="dialog" aria-labelledby="modal-create-label">
						<div class="modal-dialog" role="dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
										<span aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title" id="modal-create-label">Crear proyecto</h4>
								</div>
								<div ng-hide="!error || error.length === 0" class="modal-error">
									<h4 class="modal-title">{{ error }}</h4>
								</div>
								<div class="modal-body">
									<form ng-hide="resultProject" id="create" name="create" ng-submit="submitCreateForm(create)" class="form-horizontal" novalidate>
										<div class="form-group">
											<label for="name" class="col-md-3 control-label">Nombre</label>
											<div class="col-md-9">
												<input required type="text" ng-model="project.name" ng-pattern="/^[a-z\u00E0-\u00FC ]+$/i" name="name" class="form-control">
												<div ng-show="create.$submitted || create.name.$touched">
													<span class="help-block" ng-show="create.name.$error.required">El nombre es obligatorio</span>
													<span class="help-block" ng-show="create.name.$error.pattern">Caracteres inválidos</span>
												</div>	
											</div>
										</div>
										<div class="form-group">
											<label for="firstLastName" class="col-md-3 control-label">Primer apellido</label>
											<div class="col-md-9">
												<input required type="text" ng-model="project.firstLastName" ng-pattern="/^[a-z\u00E0-\u00FC ]+$/i" name="firstLastName" class="form-control">
												<div ng-show="create.$submitted || create.firstLastName.$touched">
													<span class="help-block" ng-show="create.firstLastName.$error.required">El primer apellido es obligatorio</span>
													<span class="help-block" ng-show="create.firstLastName.$error.pattern">Caracteres inválidos</span>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label for="secondLastName" class="col-md-3 control-label">Segundo apellido</label>
											<div class="col-md-9">
												<input type="text" ng-model="project.secondLastName" ng-pattern="/^[a-z\u00E0-\u00FC ]+$/i" name="secondLastName" class="form-control">
												<div ng-show="create.$submitted || create.secondLastName.$touched">
													<span class="help-block" ng-show="create.secondLastName.$error.pattern">Caracteres inválidos</span>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label for="email" class="col-md-3 control-label">Correo electrónico</label>
											<div class="col-md-9">
												<input required type="email" ng-model="project.email" name="email" class="form-control" email-uca>
												<div ng-show="create.$submitted || create.email.$touched">
													<span class="help-block" ng-show="create.email.$error.required">El correo electrónico es obligatorio</span>
													<span class="help-block" ng-show="create.email.$error.email">Formato inválido de dirección de correo electrónico</span>
													<span class="help-block" ng-show="create.email.$error.emailUca">La dirección de correo debe ser del dominio <em>@alum.uca.es</em></span>
												</div>	
											</div>
										</div>
										<div class="form-group">
											<label for="title" class="col-md-3 control-label">Título del proyecto</label>
											<div class="col-md-9">
												<input required type="text" ng-model="project.title" name="title" class="form-control">
												<div ng-show="create.$submitted || create.title.$touched">
													<span class="help-block" ng-show="create.title.$error.required">El título del proyecto es obligatorio</span>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label for="topic" class="col-md-3 control-label">Temática</label>
											<div class="col-md-9">
												<select ng-model="project.topic" name="topic" class="form-control">
													<option value="Domótica">Domótica</option>
													<option value="Salud">Salud</option>
													<option value="Turismo">Turismo</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<label for="tutor" class="col-md-3 control-label">Tutor</label>
											<div class="col-md-9">
												<input required type="text" ng-model="project.tutor" ng-pattern="/^[a-z\u00E0-\u00FC ]+$/i" name="tutor" class="form-control">
												<div ng-show="create.$submitted || create.tutor.$touched">
													<span class="help-block" ng-show="create.tutor.$error.required">El tutor es obligatorio</span>
													<span class="help-block" ng-show="create.tutor.$error.pattern">Caracteres inválidos</span>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label for="cotutor" class="col-md-3 control-label">Cotutor</label>
											<div class="col-md-9">
												<input type="text" ng-model="project.cotutor" ng-pattern="/^[a-z\u00E0-\u00FC ]+$/i" name="cotutor" class="form-control">
												<div ng-show="create.$submitted || create.cotutor.$touched">
													<span class="help-block" ng-show="create.cotutor.$error.pattern">Caracteres inválidos</span>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label for="state" class="col-md-3 control-label">Estado del proyecto</label>
											<div class="col-md-9">
												<label class="radio-inline">
													<input type="radio" name="state" value="presentado" ng-model="project.state" ng-change="changeState(project.state)"> Presentado
												</label>
												<label class="radio-inline">
													<input type="radio" name="state" value="en desarrollo" ng-model="project.state" ng-change="changeState(project.state)" ng-click="clearPresentedAttributes()"> En desarrollo
												</label>
											</div>
										</div>
										<div class="form-group" ng-hide="selectedState === 'en desarrollo'">
											<label for="date" class="col-md-3 control-label">Fecha de presentación</label>
											<div class="col-md-9">
												<input type="text" ng-model="project.date" name="date" class="form-control" date-field>
												<div ng-show="create.$submitted || create.date.$touched">
													<span class="help-block" ng-show="create.date.$error.date">Formato de fecha inválido (dd/mm/aaaa)</span>
													<span class="help-block" ng-show="create.date.$error.max">La fecha no puede ser mayor que la actual</span>
												</div>
											</div>
										</div>
										<div class="form-group" ng-hide="selectedState === 'en desarrollo'">
											<label for="mark" class="col-md-3 control-label">Calificación</label>
											<div class="col-md-9">
												<input type="number" ng-model="project.mark" name="mark" min="0" max="10" class="form-control">
												<div ng-show="create.$submitted || create.mark.$touched">
													<span class="help-block" ng-show="create.mark.$error.min || create.mark.$error.max">La calificación debe tener un valor entre 0 y 10</span>
												</div>
											</div>
										</div>
										<div class="button-container">
											<button type="button" class="btn btn-default" ng-click="reset(create)">Restablecer</button>
											<button type="submit" class="btn btn-info">Crear</button>
										</div>
									</form>
									<div ng-show="resultProject" class="small-container result">
										<div ng-show="success" class="info">
											<div class="alert alert-success" role="alert">{{ success }}</div>
										</div>
										<div class="row">
											<hr>
										</div>
										<div class="row">
											<p><strong>Título: </strong>{{ resultProject.title }}</p>
											<p><strong>Autor: </strong>{{ resultProject.studentName }}</p>
											<p><strong>Tutores: </strong>{{ resultProject.tutor }} <span ng-hide="!resultProject.cotutor || resultProject.cotutor.length === 0">y {{ resultProject.cotutor }}</span></p>
											<hr>
											<p><strong>Estado del proyecto: </strong>{{ resultProject.state }}</p>
											<p ng-hide="!resultProject.date || resultProject.date.length === 0"><strong>Fecha de presentación: </strong>{{ resultProject.date }}</p>
											<p ng-hide="!resultProject.mark || resultProject.mark.length === 0"><strong>Calificación: </strong>{{ resultProject.mark }}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section id="modal-update-container">
					<div class="modal fade" id="modal-update" role="dialog" aria-labelledby="modal-update-label">
						<div class="modal-dialog" role="dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
										<span aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title" id="modal-update-label">Actualizar proyecto</h4>
								</div>
								<div ng-hide="!error || error.length === 0" class="modal-error">
									<h4 class="modal-title">{{ error }}</h4>
								</div>
								<div class="modal-body">
									<form ng-hide="resultProject" id="update" name="update" ng-submit="submitUpdateForm(update)" class="form-horizontal" novalidate>
										<div class="form-group">
											<label for="key" class="col-md-2 control-label">Clave</label>
											<div class="col-md-10">
												<input required type="text" ng-model="project.key" name="key" class="form-control" placeholder="Clave del estudiante">
												<div ng-show="update.$submitted || update.key.$touched">
													<span class="help-block" ng-show="update.key.$error.required">Introduce la clave de estudiante</span>
												</div>
											</div>
										</div>
										<div class="row">
											<hr>
										</div>
										<div class="form-group">
											<label for="title" class="col-md-3 control-label">Título del proyecto</label>
											<div class="col-md-9">
												<input type="text" ng-model="project.title" name="title" class="form-control">
											</div>
										</div>
										<div class="form-group">
											<label for="state" class="col-md-3 control-label">Estado del proyecto</label>
											<div class="col-md-9">
												<label class="radio-inline">
													<input type="radio" name="state" value="presentado" ng-model="project.state" ng-change="changeState(project.state)"> Presentado
												</label>
												<label class="radio-inline">
													<input type="radio" name="state" value="en desarrollo" ng-model="project.state" ng-change="changeState(project.state)" ng-click="clearPresentedAttributes()"> En desarrollo
												</label>
											</div>
										</div>
										<div class="form-group" ng-hide="selectedState === 'en desarrollo'">
											<label for="date" class="col-md-3 control-label">Fecha de presentación</label>
											<div class="col-md-9">
												<input type="date" ng-model="project.date" name="date" class="form-control" max="{{ today }}">
											</div>
											<div ng-show="update.$submitted || update.date.$touched">
												<span class="help-block" ng-show="update.date.$error.max">La fecha no puede ser mayor que la actual</span>
											</div>
										</div>
										<div class="form-group" ng-hide="selectedState === 'en desarrollo'">
											<label for="mark" class="col-md-3 control-label">Calificación</label>
											<div class="col-md-9">
												<input type="number" ng-model="project.mark" name="mark" min="0" max="10" class="form-control">
												<div ng-show="update.$submitted || update.mark.$touched">
													<span class="help-block" ng-show="update.mark.$error.min || update.mark.$error.max">La calificación debe tener un valor entre 0 y 10</span>
												</div>
											</div>
										</div>
										<div class="button-container">
											<button type="button" class="btn btn-default" ng-click="reset(update)">Restablecer</button>
											<button type="submit" class="btn btn-warning">Actualizar</button>
										</div>
									</form>
									<div ng-show="resultProject" class="small-container result">
										<div ng-show="success" class="info">
											<div class="alert alert-success" role="alert">{{ success }}</div>
										</div>
										<div class="row">
											<hr>
										</div>
										<div class="row">
											<p><strong>Título: </strong>{{ resultProject.title }}</p>
											<p><strong>Autor: </strong>{{ resultProject.studentName }}</p>
											<p><strong>Tutores: </strong>{{ resultProject.tutor }} <span ng-hide="!resultProject.cotutor || resultProject.cotutor.length === 0">y {{ resultProject.cotutor }}</span></p>
											<hr>
											<p><strong>Estado del proyecto: </strong>{{ resultProject.state }}</p>
											<p ng-hide="!resultProject.date || resultProject.date.length === 0"><strong>Fecha de presentación: </strong>{{ resultProject.date }}</p>
											<p ng-hide="!resultProject.mark || resultProject.mark.length === 0"><strong>Calificación: </strong>{{ resultProject.mark }}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section id="modal-delete-container">
					<div class="modal fade" id="modal-delete" role="dialog" aria-labelledby="modal-delete-label">
						<div class="modal-dialog" role="dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
										<span aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title" id="modal-delete-label">Eliminar proyecto</h4>
								</div>
								<div ng-hide="!error || error.length === 0" class="modal-error">
									<h4 class="modal-title">{{ error }}</h4>
								</div>
								<div class="modal-body">
									<form ng-hide="resultDelete" id="delete" name="delete" ng-submit="submitDeleteForm(delete)" class="form-horizontal" novalidate>
										<div class="form-group">
											<label for="key" class="col-md-2 control-label">Clave</label>
											<div class="col-md-10">
												<input required type="text" ng-model="key" name="key" class="form-control" placeholder="Clave del estudiante">
												<div ng-show="delete.$submitted || delete.key.$touched">
													<span class="help-block" ng-show="delete.key.$error.required">Introduce la clave de estudiante</span>
												</div>
											</div>
										</div>
										<div class="button-container">
											<button type="submit" class="btn btn-danger">Eliminar</button>
										</div>
									</form>
									<div ng-show="resultDelete" class="small-container result">
										<div ng-show="success" class="info">
											<div class="alert alert-success" role="alert">{{ success }}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section id="modal-search-container">
					<div class="modal fade" id="modal-search" role="dialog" aria-labelledby="modal-search-label">
						<div class="modal-dialog" role="dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
										<span aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title" id="modal-search-label">Buscar proyecto</h4>
								</div>
								<div ng-hide="!error || error.length === 0" class="modal-error">
									<h4 class="modal-title">{{ error }}</h4>
								</div>
								<div class="modal-body">
									<form ng-hide="resultSearch" id="search" name="search" ng-submit="submitSearchForm(search)" class="form-horizontal" novalidate>
										<div class="form-group">
											<label for="key" class="col-md-2 control-label">Clave</label>
											<div class="col-md-10">
												<input required type="text" ng-model="key" name="key" class="form-control" placeholder="Clave del estudiante">
												<div ng-show="search.$submitted || search.key.$touched">
													<span class="help-block" ng-show="search.key.$error.required">Introduce la clave de estudiante</span>
												</div>
											</div>
										</div>
										<div class="button-container">
											<button type="submit" class="btn button-search">Buscar</button>
										</div>
									</form>
									<div ng-show="resultSearch" class="small-container result">
										<div ng-show="success" class="info">
											<div class="alert alert-success" role="alert">{{ success }}</div>
											<p><strong>Detalles del proyecto: </strong>{{ resultSearch }}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>

	<div class="clearfix"></div>
	
	<footer>
		<div class="col-md-12">
			<p>&copy; 2015 Pablo Antonio García Chacón</p>
			<a href="mailto:pabloantonio.garciachacon@alum.uca.es">pabloantonio.garciachacon@alum.uca.es</a>
		</div>
		<div class="col-md-12">
			<img src="img/logo.png" alt="Logo">
		</div>
	</footer>
</body>
</html>