<!DOCTYPE html>
<html lang="es" ng-app="GestionProyectos">
<head>
	<meta name="description" content="Información de los profesores del departamento">
	<meta charset="UTF-8">
	<title>Proyectos - Profesores</title>
	<link rel="icon" href="img/logo.ico">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/app.css">
	<link rel="stylesheet" href="css/profesores.css">
	<script src="js/jquery-2.1.4.js"></script>
	<script src="js/latinise.js"></script>
	<script src="js/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/Chart.js-master/Chart.js"></script>
</head>
<body ng-controller="ProfessorsCtrl">
	<section id="upper-section">
		<div class="container mini-container">
			<nav class="navbar navbar-default navbar-static-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
							<span class="sr-only">Cambiar navegación</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="http://departamentos.uca.es/C137/" target="_blank" class="navbar-brand">
							<img src="img/logo_white.png" alt="Logo">
						</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse navbar-right">
						<ul class="nav navbar-nav">
							<li class="active">
								<a href="index.html">Inicio</a>
							</li>
							<li>
								<a href="tfg.html">Proyectos</a>
							</li>
							<li>
								<a href="profesores.html">Profesores</a>
							</li>
							<li>
								<a href="contactar.html">Contacto</a>
							</li>
							<li>
								<a href="index.html#map">Mapa</a>
							</li>
							<li>
								<a href="administracion.html">Administración</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>

		<div id="title" class="col-md-12">
			<h1>Profesores</h1>
		</div>
	</section>

	<section id="main-section">
		<div class="container small-container">
			<div class="row">
				<div class="col-md-3 iconic-information-block">
					<span class="glyphicon glyphicon-bookmark"></span>
					<p>Profesores del departamento</p>
				</div>
			</div>
			<section id="professors-section" class="row">
				<article id="professors-description" class="col-md-8">
					<h2>Nuestros profesores</h2>
					<p>Los profesores de nuestro departamento son profesionales de confianza de la Universidad de Cádiz. Imparten docencia en la especialidad de Sistemas de la Información y Tecnologías de la Información.</p>
					<p>Su campo de conocimiento domina diversas áreas, entre otras, tecnologías web <em>back-end</em> y <em>front-end</em>, servicios web, sistemas hipermedia, administración de servidores y de redes, seguridad y calidad de sistermas, tratamiento de datos, organización...</p>
					<p>Sus trabajos de investigación se encuentran entre los más destacados de la Escuela Superior de Ingeniería y destacan por el uso de las tecnologías más innovaduras.</p>
				</article>
				<aside id="aside" class="col-md-4">
					<a href="http://departamentos.uca.es/C137/" target="_blank">
						<img src="img/logo_uca.png" alt="Logo de la UCA">
					</a>
				</aside>
				<article id="professors" class="col-md-12">
					<h2>Tabla de profesores</h2>
					<table id="professors-table" class="table table-hover">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Puesto</th>
								<th>Teléfono</th>
								<th>Correo electrónico</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="professor in professors">
								<td>{{ professor.name }}</td>
								<td>{{ professor.position }}</td>
								<td><a href="tel:+34{{ professor.phone }}">{{ professor.phoneFormat }}</a></td>
								<td><a href="mailto:{{ professor.email }}">{{ professor.email }}</a></td>
							</tr>
						</tbody>
					</table>
				</article>
			</section>
			<section id="profiles" class="col-md-8">
				<div class="row">
					<h2>Perfiles</h2>
					<div class="col-md-4" ng-repeat="profile in profiles">
						<div class="panel panel-default">
							<div class="panel-body">
								<img class="img-circle" src="img/{{ profile.img }}" alt="{{ profile.description }}">
							</div>
							<div class="panel-footer">
								<span>{{ profile.name }}</span>
							</div>
						</div>
					</div>
				</div>
			</section>
			<aside id="ranking" class="col-md-4">
				<h3 class="aside-header">Profesores más activos</h3>
				<ul class="list-unstyled">
					<li ng-repeat="professor in ranking">
						<span><strong>{{ professor.name }}, </strong>{{ professor.projectCount }} proyectos</span>
					</li>
				</ul>
				<div class="col-md-12">
					<canvas id="chart" width="300px" height="150px"></canvas>
				</div>
			</aside>
		</div>
	</section>

	<div class="clearfix"></div>
	
	<footer>
		<div class="col-md-12">
			<p>&copy; 2015 Pablo Antonio García Chacón</p>
			<a href="mailto:pabloantonio.garciachacon@alum.uca.es">pabloantonio.garciachacon@alum.uca.es</a>
		</div>
		<div class="col-md-12">
			<img src="img/logo.png" alt="Logo">
		</div>
	</footer>
</body>
</html>